<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/kitchen.css" type="text/css" />
    <link rel="stylesheet" href="../styles/index.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Chicle&display=swap" rel="stylesheet">
    <style></style>
</head>

<body>
    <div id="roomContainer">

            <div id="radarContainer">
                <button id="radar">+</button>
            </div>

        <img id="Kitchen" src="../images/Kitchen01.png" />

        <div id="itemPanelContainer">
                <button id="profileButton"><img id="profilePic" src="../images/MaxwellBentley.gif" style="width:85px"/></button>
                <div id="profileOptions">
                    <ul>
                        <li>PROFILE</li>
                        <li>ITEMS</li>
                        <li>OPTIONS</li>
                        <li>MAP</li>
                    </ul>
                </div>
        </div>
        <div id="rightnav">
        <a href="./hallway.html" ><img src="../images/chevron-circle-right-solid.svg"></img></a>
        </div>
    </div>
    <script src="./scripts/logic.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        var clicked = false;
    $("#profileButton").click(function(){
        if (clicked == false){
            $("#profileOptions").slideDown(1000);
            clicked = true;
        } else if (clicked == true) {
            $("#profileOptions").slideUp(1000);
            clicked = false;
        }
    });

});
    </script>
</body>
</html>
