<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/index.css" type="text/css" />
    <link rel="stylesheet" href="../styles/livingroom.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Chicle&display=swap" rel="stylesheet">
    <style></style>
</head>

<body>
    <div id="apartmentContainer">

            <div id="radarContainer">
                <button id="radar">+</button>
            </div>

        <img id="Apartment01" src="../images/Apartment02.png" />

        <div id="itemPanelContainer">
                <button id="profileButton"><img id="profilePic" src="../images/MaxwellBentley.gif" style="width:85px"/></button>
                <div id="profileOptions">
                    <ul>
                        <li>PROFILE</li>
                        <li>ITEMS</li>
                        <li>OPTIONS</li>
                        <li>MAP</li>
                    </ul>
                </div>
        </div>

        <div id="leftnav">
            <a href="./hallway.html" ><img src="../images/chevron-circle-left-solid.svg"></img></a>
        </div>

        <div>
                <button id="blindsLeft" onclick="closeBlinds()"><img id="Blinds" src="../images/Blinds01.png"/></button>
        </div>
                <img id="Tv01" src="../images/Tv01.png" alt="" width="1100" height="730"/> 

        <div id="screenContainer">
            <button id="onButton" onclick="printImage()" style="width:90px"><img id="screen" src="../images/screen.png" style="width:66px"/></button>
        </div> 

    </div>
    <script src="../scripts/logic.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        var clicked = false;
    $("#profileButton").click(function(){
        if (clicked == false){
            $("#profileOptions").slideDown(1000);
            clicked = true;
        } else if (clicked == true) {
            $("#profileOptions").slideUp(1000);
            clicked = false;
        }
    });

});
    </script>
</body>
</html>
