#apartmentContainer{
    position:fixed;
    top:0px;
    left:0px;
    background-color:#497C51;
    border-color:#286130;
    border-style:solid;
    width:100vw;
    height:100vh;
}

#itemPanelContainer{
    background-color:grey;
    border-color:#286130;
    border-style:solid;
    border-radius:90px;
    position:fixed;
    top:40px;
    left:40px;
    width: 100px;
    height: 100px;
}

#profileButton{
    background-color:#497C51;
    border-color:white;
    border-style:inset;
    border-radius:90px;
    position:fixed;
    top:50px;
    left:50px;
    width: 85px;
    height: 85px;
}

#Apartment01{
    margin: 20px 20px;
    width:95vw;
    height:610px;
    border-color:#286130;
    border-style:solid;
    border-radius:25px;
}

#Tv01{
    position:fixed;
    top:20px;
    left:305px;
    width:1000px;
    height:610px;
}

#screenContainer{
    position: inherit;
    top:296px;
    right:325px;
    width:90px;
    height:60px;
    background-color:black;
}

#onButton{
    background-color:transparent;
    border-color:transparent;
}