#apartmentContainer{
    position:fixed;
    top:0px;
    left:0px;
    background-color:#497C51;
    border-color:#286130;
    border-style:solid;
    width:100vw;
    height:100vh;
}

#itemPanelContainer{
    background-color:grey;
    border-color:#286130;
    border-style:solid;
    border-radius:90px;
    position:fixed;
    top:40px;
    left:40px;
    width: 100px;
    height: 100px;
}

#profileButton{
    background-image:#497C51;
    border-color:white;
    border-style:solid;
    border-radius:90px;
    position:fixed;
    padding: 0px;
    top:50px;
    left:50px;
    width: 85px;
    height: 85px;
    outline:none;
}

#ProfilePic{
    border-radius:90px;
    background-color:transparent;
}

#profileOptions{
    display:none;
    position: fixed;
    top:160px;
    left:40px;
    width:100px;
    background-color:grey;
    border-color:#286130;
    border-style:solid;
    border-radius:25px;
}

ul{
    text-align:center;
    list-style:none;
    background-color:white;
    color:#286130;
    border-radius: 15px;
    padding:8px 0px;
    margin: 10px;
    font-family: 'Chicle', cursive;
    font-size: 27px;
}

#Apartment01{
    margin: 20px 20px;
    width:95vw;
    height:610px;
    border-color:#286130;
    border-style:solid;
    border-radius:25px;
}

#Tv01{
    position:fixed;
    top:20px;
    left:305px;
    width:1000px;
    height:610px;
}

#screenContainer{
    position: inherit;
    top:291px;
    right:338px;
    width:90px;
    height:60px;
    background-color:transparent;
}

#screen{
    position: inherit;
    top:291px;
    right:331px;
}

#onButton{
    background-color:transparent;
    border-color:transparent;
    outline:none;
}

#radarContainer{
    display:inline-block;
    background-color:grey;
    border-color:#286130;
    border-style:solid;
    border-radius:90px;
    position:fixed;
    top:40px;
    right:55px;
    width: 100px;
    height: 100px;
}

#radar{
    text-align:center;
    background-color:black;
    border-radius:90px;
    padding: 0px;
    width: 100px;
    height: 100px;
    outline:none;
    color:green;
    font-size:37px;
}